@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  /* font-family: sans-serif; */
  font-family: "Averia Serif Libre", serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  box-sizing: border-box;
  margin: 0;
}

.boxShadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
